<!---CSS for Racing Game--->


.track {
  max-width: 800px;
  margin: 10px auto;
  float: left;
  width: 60%;
  margin-left: 20%;
}


.active {
  background-color: red;
}

table {
  margin: auto;
}

tr, td { 
  height: 30px;
  width: 30px;
  padding: 10px;
  border: 2px solid #ccc;
}

#btn_play {
  background-color: red;
  color: white;
  font-weight: bold;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 3px;
}

.reset {
  display: none;
}